<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jinproject.twomillustratedbook"
    android:versionCode="1"
    android:versionName="illustratedBook1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" android:minSdkVersion="33"/>

    <application
        android:name=".data.database.BookApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TwomIllustratedBook">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/test_AppId" />

        <activity
            android:name="com.jinproject.twomillustratedbook.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".ui.Service.OverlayService" android:description="@string/현재시간항상보기"/>
        <service android:name=".ui.Service.ReAlarmService" android:description="@string/알람재생성서비스"/>
        <service android:name=".ui.Service.AlarmService" android:description="@string/알람서비스"/>
        <service android:name=".ui.Service.AlarmServerService"/>
    </application>

</manifest>